.App {
  text-align: center;
  flex: 1;
}

@font-face {
  font-family: "Bold_Italic";
  /*Can be any text*/
  src: local("Bold_Italic"),
    url("./fonts/Bold_Italic.otf") format("opentype");
}

@font-face {
  font-family: "Bold";
  /*Can be any text*/
  src: local("Bold"),
    url("./fonts/Bold.otf") format("opentype");
}

@font-face {
  font-family: "DemiBold_Italic";
  /*Can be any text*/
  src: local("DemiBold_Italic"),
    url("./fonts/DemiBold_Italic.otf") format("opentype");
}

@font-face {
  font-family: "DemiBold";
  /*Can be any text*/
  src: local("DemiBold"),
    url("./fonts/DemiBold.otf") format("opentype");
}

@font-face {
  font-family: "ExtraBold_Italic";
  /*Can be any text*/
  src: local("ExtraBold_Italic"),
    url("./fonts/ExtraBold_Italic.otf") format("opentype");
}

@font-face {
  font-family: "ExtraBold";
  /*Can be any text*/
  src: local("ExtraBold"),
    url("./fonts/ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "ExtraLight_Italic";
  /*Can be any text*/
  src: local("ExtraLight_Italic"),
    url("./fonts/ExtraLight_Italic.otf") format("opentype");
}

@font-face {
  font-family: "ExtraLight";
  /*Can be any text*/
  src: local("ExtraLight"),
    url("./fonts/ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: "Italic";
  /*Can be any text*/
  src: local("Italic"),
    url("./fonts/Italic.otf") format("opentype");
}

@font-face {
  font-family: "Light_Italic";
  /*Can be any text*/
  src: local("Light_Italic"),
    url("./fonts/Light_Italic.otf") format("opentype");
}

@font-face {
  font-family: "Light";
  /*Can be any text*/
  src: local("Light"),
    url("./fonts/Light.otf") format("opentype");
}

@font-face {
  font-family: "Medium_Italic";
  /*Can be any text*/
  src: local("Medium_Italic"),
    url("./fonts/Medium_Italic.otf") format("opentype");
}

@font-face {
  font-family: "Medium";
  /*Can be any text*/
  src: local("Medium"),
    url("./fonts/Medium.otf") format("opentype");
}

@font-face {
  font-family: "Regular";
  /*Can be any text*/
  src: local("Regular"),
    url("./fonts/Regular.otf") format("opentype");
}












@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}